.auth {
  width: 80%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 2rem auto;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions button {
  border: 1px solid #ccc;
  width: 50%;
  border-radius: 0;
}

.actions .focused {
  border-color: #1796d2;
}

.mobile-error {
  font-size: 0.8rem;
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

form button {
  width: fit-content;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .mobile-error {
    display: none;
  }

  .actions,
  form {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .alert {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1400px) {
  .alert {
    font-size: 1.2rem;
  }
}
