.marketplace-item {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0.1px 0.1px 10px #a8a8a8;
}

.marketplace-item h3,
.marketplace-item h4 {
  font-weight: 500;
  margin: 0;
}

.tags {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.tags p {
  text-align: left;
  font-size: 1rem;
  font-style: italic;
}

.tags span {
  margin-left: 0;
}

@media screen and (min-width: 600px) {
  .marketplace-item {
    width: fit-content;
    max-width: 430px;
    min-width: 120px;
  }
}

@media screen and (min-width: 768px) {
  .marketplace-item {
    min-width: 250px;
  }

  .tags p {
    font-size: 1.1rem;
  }
}
