.explore {
  padding: 1rem;
  padding-top: 0;
}

.mobile-filters p {
  text-align: left;
}

.desktop-filters {
  display: none;
  position: fixed;
  width: 25%;
  border-right: 8px solid #869505;
  height: calc(100% - 150px);
  padding: 1rem;
  left: 0;
}

.desktop-filters h2 {
  margin: 0;
  font-size: 1.5rem;
}

.resumes {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  max-width: 100%;
}

.filter-actions {
  display: none;
}

@media screen and (min-width: 600px) {
  .resumes {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .mobile-filters {
    display: none;
  }

  .desktop-filters {
    display: flex;
    flex-direction: column;
  }

  .resumes {
    flex-direction: row;
    margin-left: 30%;
  }

  .resumes h2 {
    margin: 0 auto;
  }

  .filter-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
  }

  .pagination {
    margin-left: 30%;
  }
}

@media screen and (min-width: 1100px) {
  .filter-actions {
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1400px) {
  .desktop-filters h2 {
    font-size: 2rem;
  }
}
